:root{
    --header-font: 'Permanent Marker', cursive;
    --important-color:#8452DA;
    --text-font: 'Open Sans', sans-serif;
    --background-color:#242424;
    --secondary-background-color:#F6EEDF;
}